.back{
    background-image: url(home.png);
    background-size: cover; 
    background-position: center center;
}
.cute{
    overflow: hidden;
}
.jes{
    visibility: hidden; 
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }

.fa:hover {
    opacity: 0.7;
}

.btn.btn-primary {
    background: #fab95b;
    border-color: #fab95b;
    color: #fff;
}
.btn {
    font-size: 16px;
    padding: 10px 30px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.btn:hover{
    opacity: 0.8;
}

.intro{
    left: 5%;
}
.feel{
    background:white;
    border-color: whitesmoke;
    color: black;
}
.project{
    justify-content: space-between;
}
.item{
    margin-bottom: 15px;
    background: #fff;
    padding-bottom: 8px;
    box-shadow: 0px 0px 10px -3px #ccc;
    transition: all 0.4s ease-in-out;
}
.item:hover{
    box-shadow: 0 8px 50px -5px rgba(0, 0, 0, 0.1);
    top: -3px;
}
.item-img{
    flex: 0 0 60px;
}
.item-about a{
    text-decoration: none;
    color: coral;
}
.quick a{
    text-decoration: none;
}
.pray{
    width: 150px;
    height: 150px;
}
.free{
    width: 150px;
    height: 150px;
}

.project a{
    text-decoration: none;
}

.copy{
    text-align: center;
    padding: 2%;
}

@media (max-width:768px) {
    .jes{
        visibility: visible;
    }
}